* {
box-sizing: border-box; 
}

.header {
    height: 900px;
    background-image: url(../images/Layer\ 21\ 1.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

    padding: 149px 216px;

    color: white;
    font-family: "Monserrat";
    font-weight: 700;

    margin-bottom: 80px;
}

.header-subtitle {
    text-transform: uppercase;
    font-size: 48px;

    margin-bottom: 16px;
}
.header-info {
    font-family: "Lato";
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 22px;
}
.header-title {
    text-transform: uppercase;
    font-size: 54px;
    border: 1px solid white;
    background-color: #00000077;
}
.header-title-we {
    display: inline-block;
    padding: 38px 23px 38px 31px;
    color: #F48E0B;
    border-right: 1px solid #F48E0B;
}

.header-title-main {
    padding: 38px 31px 38px 23px;
}

.about-us {
    margin-bottom: 85px;
}

.about-us-container {
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-us-title, .our-secret-info {
    color: #333;
font-family: Montserrat;
font-size: 22px;
font-weight: 700;
line-height: 22px; /* 100% */
text-transform: uppercase;
margin-bottom: 15px;
}
.about-us-info , .our-secret-info {
    color: #505050;
font-family: Lato;
font-size: 14px;
font-weight: 300;
line-height: 22px; /* 157.143% */
margin-bottom: 50px;
}

.business-consulting-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 148px 148px;
    grid-gap: 22px 30px;

}

.about-us-main-info {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
}
.image {
    height: 100%;
    width: 100%;
}
.business-consulting-title {

font-family: Montserrat;
font-size: 18px;
font-weight: 700;
margin-bottom: 22px;
}
.business-title {
    color: #333;
}
.consulting-title {
    color: #F1AD1D;
}
.business-consulting-info {
    color: #505050;
font-family: Lato;
font-size: 14px;
font-weight: 300;
line-height: 22px;
margin-bottom: 32px;

}
.business-consulting-btn {
    color: #FFF;
font-family: Lato;
font-size: 14px;
font-weight: 700;
line-height: 14px; /* 100% */
padding: 19px 27px;
background-color: #F1AD1D;
border: none;
cursor: pointer;
}
.our-secret {
    margin-bottom: 85px;
}
.our-secret-wrapper{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 426px;
    gap: 38px;
}
.our-secret-card {
    background-color: pink;
    width: 100%;
    height: 100%;
}
.secret-card-header {
    padding: 22px 0 16px 0;
    background-color: #333333;

font-family: Montserrat;
font-size: 18px;
font-weight: 700;
line-height: 18px; /* 100% */
text-align: center;
}
.secret-card-first {
color: white;
}
.our-secret-card-second {
    color: orange;
}

/* New practice */

.contact-section {
    margin-bottom: 140px;
    display: flex;
    justify-content: space-between;
  }
  
  .contact-title {
    margin: 0 auto;
    color: #333333;
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  
  .contact-subtitle {
    
    margin: 0 auto;
    color: #4d4943;
    font-family: "Lato", sans-serif;
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 50px;
  }

  .contact-subtitle::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #F1AD1D;
    margin: 0 auto;
    margin-top: 47.5px;
    margin-bottom: 45px;

  }

  .contact-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .contact-form-wrapper, .get-in-touch {
    flex-basis: 50%;
 
  }
  .form-title, .get-in-touch-title{
    max-width: 383px;
    background-color: #333;
    color: #FFF;
font-family: Montserrat;
font-size: 18px;
font-weight: 700;
line-height: 18px; /* 100% */
padding: 24px 0 17px 17px;
margin-bottom: 12px;

  }
  .form-subtitle, .form-subtitle {
    color: #505050;
font-family: Lato;
font-size: 14px;
font-weight: 300;
line-height: 22px; /* 157.143% */
margin-bottom: 25px;
  }

  input[type="text"],
  input[type="email"],
  textarea {

    padding: 21px 0 13px 14px;
    margin-bottom: 19px;
    border: 1px solid #929292;
    outline: none;
    font-family: Lato;
    font-size: 14;
    font-weight: 300;

  }

  input[type="text"],
  input[type="email"] {
    width: 50%;
  }
  textarea {
    width: 100%;
  }
  input[type="text"]:focus,
  input[type="email"]:focus,
  textarea:focus {
    border: 1px solid #f1ad1d;
  }
  input:first-child {
    margin-right: 30px;
  }

  .form-btn {
    border: none;
    padding: 16px 40px;
    color: white;
    background-color: #f1ad1d;
    cursor: pointer;
    text-transform: uppercase;
    margin-right: 20px;
  }
  /* .form-btn:first-child {
    margin-right: 20px;
  } */
  .form-btn:hover {
    background-color: #F48E0B ;
  }
  ul{
    color: #505050;
font-family: Lato;
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: 22px; /* 157.143% */
   }
   li {
    margin-top: 6px;
   }
   .adress-item:before {
    content: url(../icons/map.svg);
    display: inline-block;
    padding: 12px 20px;
    background-color:  #333;;
    margin-left: 14px;
   }

   .tel-item::before {
    content: url(../icons/tel.svg);
    display: inline-block;
    padding: 12px 20px;
    background-color:  #333;;
    margin-left: 14px;
   }
   .email-item::before {
    content: url(../icons/email.svg);
    display: inline-block;
    padding: 12px 20px;
    background-color:  #333;;
    margin-left: 14px;
   }
   .site-item::before {
    content: url(../icons/website.svg);
    display: inline-block;
    padding: 12px 20px;
    background-color:  #333;;
    margin-left: 14px;
   }

   .social-link {
    display: inline-block;
    background-color: #f1ad1d;
    margin-right: 13px;
    padding: 12px 19px;
   }
   .social-link:hover {
    background-color: #F48E0B;
   }

